

.itemcontainer{
  height: 460px;
  width: 320px;
  border-radius: 12px;
  color:black;
  background-color: white;
}


.itempic{
  margin-top: 12px;
  height:256px ;
}


.itemtitle{
  font-size: 24px;
  font-weight: 700;
  padding:0px;
}


.itemprice{
  font-size: 18px;
} 